p, li, h1 {
  color: rgba(212, 25, 25, 0.884) ;
  }
  /*Just verifying this is how we comment*/

  html { font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(212, 25, 25, 0.884) }
    /*Above the html provide instructions to the web*/
    header, main { padding: 2.5rem; }
    /*Above moves the words off the edge of the page*/
    h1 { font-size: 2.6rem; }
    p, li { font-size: 2.0rem; }
    li { line-height: 1.5; }
    /*Above instructs the web to adjust/adjust the paragraphs, lines, and headings 1 accordingy.*/
    a:link { color: #00ff00; }
    a:visited { color: #00ffff; }
    /*Above adjusts the color of a link before and after you click it.*/
    a:hover { color: #0000ff; background-color: #660d72; text-decoration: none; }
    a:active { color: #2d94f5; background-color: #ffff00; text-decoration: none; }
    /*Above tells the link to change colors if you're hovering over it, also if you click it.*/